<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeXtrem Carrito</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/98d109f5a6.js" crossorigin="anonymous"></script>
    <link href="static/css/style_productCart.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="top-header">
            <div class="navegacion">
                <input type="search" name="Busquedaproductos" placeholder="¿Qué estás buscando?">
                <input type="submit" value="Buscar">
            </div>
            <div class="cuenta">
                <a>Hola!</a>
                <a href="/login">Registrarme</a>
                <a href="/login"><i class="fas fa-user"></i></a>
            </div>
        </div>
        <div class="mid-header">
            <div class="contacto">
                <a><i class="fab fa-whatsapp"></i></a>
                <a><i class="fas fa-map-marked-alt"></i></a>
            </div>
            <div>
                <a class="logo"><i class="fas fa-bicycle"></i>
                <a href="/" class="bikextrem">BikeXtrem</a>
                </a>
            </div>
            <div>
                <a class="carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        <div class="low-header">
            <a>BICICLETAS</a>
            <a>REPUESTOS</a>
            <a>INDUMENTARIA</a>
            <a>TALLER</a>
            <a>ACCESORIOS</a>
            <a>SERVICIOS</a>

        </div>

    </header>

    <main>
        <div class="botones">
            <input class="boton" type="submit" name="" value="Carrito" />
            <input class="boton" type="submit" name="" value="Guardado" />
        </div>
        <div class="Producto-carrito">
            <!--Esta imagen va a depender del producto escogido -->
            <div class="Descrip">
                <div class="imgcompra"> <img src="static/images/71InYs2Jm7L._AC_UY218_.jpg">
                    <div>
                        <h2> Bicicleta Ruta </h2>
                        <br>
                        <p><b>Bicicleta Mountain Bike Rodado 29 Aluminio Shifter T18</b></p>
                    </div>
                </div>
                <div>
                    <input class="boton " type="submit " name=" " value="Modificar " />
                    <input class="boton " type="submit " name=" " value="Eliminar " /> </div>

            </div>
            <div class="Editar ">

                <div id="Precio ">
                    <form action="# " method="post ">
                        Cantidad
                        <select required>
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                    
                </select>
                    </form>
                </div>

            </div>

            <div id="Precio ">
                <p> PRECIO <b> $299.000</b></p>
            </div>
        </div>
        <div class="Producto-carrito ">
            <!--Esta imagen va a depender del producto escogido -->
            <div class="Descrip ">
                <div class="imgcompra "> <img src="static/images/71InYs2Jm7L._AC_UY218_.jpg ">
                    <div>
                        <h2> Bicicleta Ruta </h2>
                        <br>
                        <p><b>Bicicleta Mountain Bike Rodado 29 Aluminio Shifter T18</b></p>
                    </div>
                </div>
                <div>
                    <input class="boton " type="submit " name=" " value="Modificar " />
                    <input class="boton " type="submit " name=" " value="Eliminar " /> </div>

            </div>
            <div class="Editar ">

                <div id="Precio ">
                    <form action="# " method="post ">
                        Cantidad
                        <select required>
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                    
                </select>
                    </form>
                </div>

            </div>

            <div id="Precio ">
                <p> PRECIO <b>$67.705</b></p>
            </div>
        </div>





        <div class="Envio ">
            <div>
                <h4><i class="fa fa-map-marker pad5 "></i> ENVÍO A DIRECCIÓN <output>$ 450</output>
                </h4>
            </div>
            <br>
            <div>
                <h3> TOTAL CON ENVÍO <output>$ 135.860</output></h3>
            </div>
            <br>
            <div class="decidir ">
                <ul class="boton " type=" submit ">
                    <a inputmode="none " href="/ ">Seguir Comprando</input>
                </ul> 
                <ul class="boton " type=" submit ">
               <a inputmode="none " href=" # ">Finalizar Compra</input></ul>
            </div>
             </div>
            
             <div class="interesados ">
                <p><strong> PRODUCTOS QUE TE INTERESARON</strong></p>
            </div>

            <div class="flex-container ">
                <div class="flex-container div ">
                    <img src="static\images\bicicleta-mountain-bike-fuji-nevada-19-r29-21-vel-2021-bora.jpg " width=" 60% " , height="150px ">
                    <br>
                    <p>$67.705 <b>Biciplayer</b></p>
                </div>


                <div class="flex-container div ">
                    <img src="static/images/98067377-3885.png " width="20% " , height="80% ">
                    <br>
                    <p>$67.705 <b>Bicimad</b></p>
                </div>

                <div class="flex-container div ">
                    <img src=" static/images/plegable-768x576.jpg " width="20% " , height="80% ">
                    <br/>
                    <p>$21.015 <b>Bicicleta plegable</b> </p>

                </div>
                <div class="flex-container div ">
                    <img src=" static/images/ruta-768x576.jpg " width="20% " , height="80% ">
                    <br/>
                    <p>$23.000 <b>Bicicleta Ruta</b></p>

                </div>
            </div>
    </main>
</body>
<footer>
    <div class="logo_mision ">
        <a class="logo "><i class="fas fa-bicycle "></i>BikeXtrem</a>
                    <p class="mision ">"BikeXtrem es una empresa dedicada a <br>brindar todo lo necesario <br>para que nuestros clientes <br>tengan la mejor experiencia <br> posible sobre sus bicicletas."<br></p>
                    </a>
            </div>
            <div>
                <h3>Contacto</h3>
                <ul>
                    <li><i class="fa fa-map-marker pad5"></i>Coronel Pringles 132, Barrio General Paz</li>
                    <li>Córdoba,Argentina</li>
                    <li>555-5555</li>
                    <li>atencionalcliente@BikeXtrem.com</li>
                    <li class="iconosredes">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-square"></i>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Servicio al cliente</h3>
                <ul id="menu-footer-menu-1" style="touch-action: pan-y;">
                    <li class="menu-item"><a href="#">Envíos</a></li>
                    <li class="menu-item"><a href="#">¿Cómo comprar?</a></li>
                    <li class="menu-item"><a href="#">Formas de pago</a></li>
                    <li class="menu-item"><a href="#">Políticas de privacidad</a></li>
                    <li class="menu-item"><a href="#">Políticas de compras</a></li>
                    <li class="menu-item"><a href="#">Políticas de cambios y devoluciones</a></li>
                    <li class="menu-item"><a href="#">Términos y condiciones</a></li>
                    <li class="menu-item"><a href="#">Faqs</a></li>
                </ul>
            </div>
            </footer>
</body>

</html>