<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeXtrem Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" >
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/98d109f5a6.js" crossorigin="anonymous"></script>
    <link href="static/css/styles_index.css" rel="stylesheet">
</head>
<body>
    <header>
    <div class="top-header">
        <div class="navegacion"> 
            <input type="search" name="Busquedaproductos" placeholder="¿Qué estás buscando?" >
            <input type="submit" value="Buscar" >
        </div>
        <div class="cuenta">
            <a>Hola!</a>
            <a href="#">Registrarme</a>
            <a><i class="fas fa-user"></i></a>
        </div>
    </div>
    <div class="mid-header">
        <div class="contacto">
            <a><i class="fab fa-whatsapp"></i></a>
            <a><i class="fas fa-map-marked-alt"></i></a>
        </div>
        <div>
            <a class="logo"><i class="fas fa-bicycle"></i>
                <a>BikeXtrem</a>
            </a>
        </div >
        <div>
            <a class="carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <div class="low-header">
        <a>BICICLETAS</a>
        <a>REPUESTOS</a>
        <a>INDUMENTARIA</a>
        <a>TALLER</a>
        <a>ACCESORIOS</a>
        <a>SERVICIOS</a>

    </div>

    </header>

    <main>
        <p>ACA IRIAN LAS IMAGENES DEL MAIN</p>
    </main>

    <footer >
        <div>
            <a class="logo"><i class="fas fa-bicycle"></i>
                <a>BikeXtrem</a>
            <p class="mision">BikeXtrem es una empresa dedicada a brindar 
                              todo lo necesario para que nuestros clientes 
                              tengan la mejor experiencia posible sobre sus bicicletas.</p></a>
        </div>
        <div>
            Datos de Contacto / logos de redes sociales / opción formulario
        </div>
        <div>

        </div>

    </footer>
    
</body>
</html>