<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeXtrem Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" >
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/98d109f5a6.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navegacion"> 
            Búsqueda: <input type="search" name="Busquedaproductos" placeholder="¿Qué estás buscando?" >
            <input type="submit" value="Buscar" >
        </div>

    </header>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>