body {
    background-color: aliceblue;
}

/*0D353F • 72CDAE • E6DAC6 • F5562A • AB2E44*/


.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container2 {
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}



.login {
    padding: 40px;
    width: 100%;
    height: 28rem;
    position: relative;
    background-color: #E6DAC6;
}

.bikextrem {
    color: black;
    text-decoration: none;
}

.carrito {
    color: black;
}

h2 {
    color: #ab2e44;
    margin-bottom: 30px;
}

h4{
    color:#ab2e44;
    margin-bottom: 30px;
    text-align: left;
    font-size: 40px;
}

.login input {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 25px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #a8a8a8;
  color: #333;
  background-color: inherit;
}

.login input:active,
.login input:focus {
    outline: none;
}

.boton {
    width: auto;
    padding: 10px;
    background-color: #72cdae;
    color: #0D353F;
    font-size: 25px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    border-radius: 8px;
}

main .boton1{
    padding: 10px;
    background-color: #72CDAE;
    color: #0D353F;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    border-radius: 8px;
}


main .datosingresados1 {
    margin-left: 10px;
    width: auto;
    font-size: 25px;
    margin-bottom: 30px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid grey;
    color: black;
    background-color: inherit;
}


/*Registro----------------------------------------------------------------------------------------------------------------*/

.conRegistro {
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
}

.conRegistro {
    background-image: url(../images/people-2597764_1280.jpg);
    background-size: 100%;
    height: 50rem;
    width: 100%;
    align-items: center;

}

.registro {
    padding: 10px;
    position: relative;

}

span {
    color: red
}
.con2Registro, .registro, .datosingresados {
    margin-left: 10px;
    width: auto;
    font-size: 25px;
    margin-bottom: 30px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid grey;
    color: black;
    background-color: inherit;
}

.registro input:active,
.registro input:focus {
    outline: none;
}

.registro ::placeholder {
    color: black;
    font-size: 25px;
}


.registro .boton {
    width: auto;
    padding: 10px;
    background-color: #0D353F;
    color: #72CDAE;
    font-size: 20 px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    border-radius: 8px;
}

.recuerdame{
  color:#ab2e44;
  font-size: 20px;
}

