/* Paleta de Colores 
0D353F • 72CDAE • E6DAC6 • F5562A • AB2E44 ( + info https://www.instagram.com/p/CXmj97eM2PR/)
   Tipografia: MONTSERRAT
   Link para los html:
   <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
   CSS Rule para especificar> font-family: 'Montserrat', sans-serif; */

   *{
      margin:0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
   }

/* CSS Jonima */
/* CSS Kerby */

/*CSS Kris  */

body{
   background-color: aliceblue;
}
.container{
   width: 100%;
   height: 100vh;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container2{
   display: flex;
   width: 650px;
   height: auto;
   background-color: white;
   box-shadow:0 1px 1px 0 rgba(0,0,0,.2);
}
.registro .login{
flex: 1;
}
.login{
   padding: 40px;
   position: relative;
}
.login h5{
   color:rosybrown;
   margin-bottom: 30px;
}

.login input{
   width: 100%;
   padding: 5px;
   font-size: 16px;
   border-top-style: none;
   border-left-style: none;
   border-right-style: none;
   border-bottom: 1px solid #a8a8a8;
   color: #333;
}

/* CSS Juan  */
header .top-header {
   display: flex;
   background-color:#0D353F;
   padding:20px;
   justify-content: space-between;
   height:50px;
}

header .cuenta a {
   margin:5px;
   color:#72CDAE;
}

header .mid-header {
   display:flex;
   background-color:#72CDAE ;
   height:120px;
   justify-content: space-between;
   position:relative;
   
}

header .mid-header div {
   padding:0px 50px 0px 20px;
   align-self: center;
   font-size:150%;  
}

.logo {
   display:block;
   font-size:200%;
   text-align:center;
}

.contacto a { 
   padding:20px;
;
   
}

.low-header {
   display:flex;
   background-color:#0D353F;
   justify-content: center;
}

.low-header a {
      margin:5px;
      color:#72CDAE;
      padding:10px
   }

   main {
      display:flex;
      background-color: #E6DAC6 ;
      text-align: center;  
   }

footer {
   display:flex;
   background-color:#0D353F;
   color:#72CDAE;
   justify-content: space-between;
}

.logo_mision {
   text-align:left;
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px; 
}

footer .logo {
   display:flex;
   justify-content: column;
   font-size:40px
}

footer div {
   padding:15px;
}


