ul{
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Monserrat', sans-serif;
    box-sizing: border-box;
    background-color: #E6DAC6;
}

article{
    border: 1px solid black;
    width: 40rem;
    margin: 2rem;
}

.listado-caja {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.image-container {
    text-align: center;
    margin: 1rem;
}

p {
    text-align: center;
    border-top: 1px solid black;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

li {
    padding: 0.3rem;
    padding-left: 1rem;
}

strong {
    font-weight: bold;
}



