<!DOCTYPE html>
<html lang="en">
    <%-include('partials/head')%>
    <link href="static/css/styles_index.css" rel="stylesheet">
<body>
    <%-include('partials/header')%>
    <main>
    <div class="container-slider">
        <ul class="slider">
            <li id="slide1">
                <img src="static/images/imagen_cannondale.jpg"></li>
            <li id="slide2">
                <img src=static/images/imagen_cascos.jpg></li>
            <li id="slide3">
                <img src=static/images/imagen_cubierta.jpg></li>
        </ul>
        <ul class="menu">
            <li><a href="#slide1"></a></li>
            <li><a href="#slide2"></a></li>
            <li><a href="#slide3"></a></li>
        </ul>
        </div>
    <h3 class="titulo_ofertas">Ofertas Imperdibles!</h3>
    <article class="ofertas-carousel">
            <div class="producto-oferta">
                <a href="/ProductDetail"><img src=static/images/Raleigh_BinUrban1.1-NeVer_casa-bruzzoni-410x410.png></a>
                    <div class="detalle_oferta">
                        <a class="precio_antes">$350.000</a>
                        <a class="precio_oferta">$299.000</a>
                    </div>
                    <h3 class="nombre">Raleigh Urban</h3>           
            </div>
            <div class="producto-oferta">
                <a href="/ProductDetail_2"><img src=static/images/98067377-3885.png></a>
                    <div class="detalle_oferta">
                        <a class="precio_antes">$200.000</a>
                        <a class="precio_oferta">$167.000</a>
                    </div>
                    <h3 class="nombre">BMC Classic</h3>
            </div>
            <div class="producto-oferta">
                <a href="/ProductDetail_3"><img src=static/images/cannondale_mtb_roja.png></a>
                    <div class="detalle_oferta">
                        <a class="precio_antes">$170.000</a>
                        <a class="precio_oferta">$139.000</a>
                    </div>
                    <h3 class="nombre">Cannondale</h3>
            </div>
        </article>
    </main>
    <%-include('partials/footer')%> 
</body>
</html>