<!DOCTYPE html>
<html lang="en">

<head>
        <%-include('partials/head')%>
        <link href="static/css/login_style.css" rel="stylesheet"> 
</head>
<body>
        <%-include('partials/header')%>
    <main>
        <div class="container">
            <div class="container2">
                <section class="login">
                    <h5>Ingresar</h5>
                    <input class="datosingresados" type="text" name="email" placeholder="Email" />
                    <input class="datosingresados" type="text" name="contraseña" placeholder="Contraseña" />
                    <input class="boton" type="submit" name="" value="Ingresar" />
                    <label class="recuerdame">Recuerdame  </label><input class="recuerdame" type="checkbox" name="Recuerdame" id=recuerdame/><br>
                    <label class="olvide"><a href="#">Olvide mi contraseña</a></label>

                </section>
                <div class="conRegistro">
                    <div class="con2Registro">
                        <section class="registro">
                            <h5>Registro</h5>
                            <input class="datosingresados" type="text" name="Nombre" placeholder="Nombre" />
                            <input class="datosingresados" type="text" name="Email" placeholder="Email" /><br>
                            <label class="datosingresados">Genero</label>
                            <label class="datosingresados"><input class="datosingresados" type="checkbox" name="Genero" />F</label>
                            <label class="datosingresados"><input class="datosingresados" type="checkbox" name="Genero" />M</label>
                            <label class="datosingresados"><input class="datosingresados" type="checkbox"
                  name="Genero" />O</label><br>
                            <input class="datosingresados" type="date" name="Cumpleaños" placeholder="Cumpleaños" />
                            <input class="datosingresados" type="text" name="Ciudad" placeholder="Ciudad" />
                            <input class="datosingresados" type="text" name="contraseña" placeholder="Contraseña" /><br>
                            <input class="boton" type="submit" name="" value="Registrarme" />
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%-include('partials/footer')%>
</body>

</html>