<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('partials/head')%>
    <link href="static/css/style_productDetail.css" rel="stylesheet">
</head>

    <STYLE>A {text-decoration: none;} </STYLE>

<body>
        <%-include('partials/header')%>

    <main>

        <div id="col1">
            <br>
            <img src="static/images/cannondale_mtb_roja.png" alt="" class="zoom">

            <div class="carrusel">
                <img src="static/images/cannondale_mtb.png"  alt="" class="carrusel1">
                <img src="static/images/Cannondale_1.jpg" alt="" class="carrusel1">
            </div>


            <div class="cuadro-texto">
                <ul class="lista">
                    <li class="descripcion"> Descripción </li>
                    <li class="informacion"> Info Adicional </li>
                    <li class="comentarios"> Comentarios </li>
                </ul>
                <p class="texto">
                    ¿Quieres llevar tu pasión un paso más allá? La nueva Cannondale Trail SE es una bicicleta similar a la Trail, pero incorpora un mayor recorrido de suspensión delantera, hasta 120 mm, así como tija telescópica de serie y ruedas más robustas.
                </p>
            </div>


        </div>

        <div id="col2">
            <p class="articulo"> Bicicleta Cannondale Trail SE Rodado 19 </p>

            <p class="stock"> En Stock </p>

                <div class="caja2">
                    <div class="cajas">
                        <div class="caja1Color"> </div>
                    </div>
                    <div class="cajas">
                        <div class="caja2Color"> </div>
                    </div>
                    <div class="cajas">
                        <div class="caja3Color"> </div>
                    </div>
                    <div class="cajas">
                        <div class="caja4Color"> </div>
                    </div>
                </div>

                <div class="caja3">

                    <div class="tamaño1"> 
                        <p class="pulgada"> 17 " </p>
                    </div>
                    
                    <div class="tamaño2">
                        <p class="pulgada"> 19 " </p>
                    </div>
                    
                    <div class="tamaño3"> 
                        <p class="pulgada"> 21 " </p>
                    </div>
                
                </div>

                <a href="/productCart"><input type="submit" value="COMPRAR" class="button"> </a>

        </div>

        <div id="col3">
            <p class="precio_antes"> $ 170.000 </p>
            <p class="precio_oferta"> $ 139.000 </p>
            <p class="metodo"> Métodos de Pago </p>
            <div class="caja1">
                
                <div class="banco"> <img src="static/images/naranja.jpg" class="logoBanco">
                    <div class="interes"> 
                        <p> 12 cuotas
                            <span class="noInteres"> 
                                sin interés de $ 4.166,66
                            </span>
                        </p>
                    </div>
                </div>
                
                <div class="banco"> <img src="static/images/AE.jpg" class="logoBanco">
                    <div class="interes"> 
                        <p> 9 cuotas 
                            <span class="noInteres"> 
                                sin interés de $ 5.555,55
                            </span>
                        </p>
                    </div>
                </div>
                
                <div class="banco"> <img src="static/images/visa.jpg" class="logoBanco">
                    <div class="interes"> 
                        <p> 3 cuotas 
                            <span class="noInteres"> 
                                sin interés de $ 16.666,66
                            </span>
                        </p>
                    </div>
                </div>
                
                <div class="banco"> <img src="static/images/mastercard.jpg" class="logoBanco">
                    <div class="interes"> 
                        <p> 3 cuotas 
                            <span class="noInteres"> 
                                sin interés de $ 16.666,66
                            </span>
                        </p>
                    </div>
                </div>
                
                <div class="banco"> <img src="static/images/santander.jpg" class="logoBanco">
                    <div class="interes"> 
                        <p> 3 cuotas 
                            <span class="noInteres"> 
                                sin interés de $ 16.666,66
                            </span>
                        </p>
                    </div>
                </div>
            </div> <br><br>

            <div class="navegacion"> 
                <p> <i class="fas fa-truck"></i>
                Consultar Envío <input type="search" name="ConsultaEnvio" placeholder="Agregar CP..."> </p>
            </div> 

            <div class="retiro">
                <p> <i class="fas fa-home"> </i> Retiro en Sucursal </p> 
            
            </div>
        
        

    </main>

    <%-include('partials/footer')%>
</body>
</html>