<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('partials/head')%>
        <link href="static/css/style_productCart.css" rel="stylesheet">
</head>

<body>
    <%-include('partials/header')%>
        <main>

            <div class="botones">
                <input class="boton" type="submit" name="" value="Carrito" />
                <input class="boton" type="submit" name="" value="Guardado" />
            </div>
            <div class="Producto-carrito">
                <!--Esta imagen va a depender del producto escogido -->
                <div class="Descrip">
                    <div class="imgcompra"> <img src="static/images/71InYs2Jm7L._AC_UY218_.jpg">
                        <div>
                            <h2> Bicicleta Ruta </h2>
                            <br>
                            <p><b>Bicicleta Mountain Bike Rodado 29 Aluminio Shifter T18</b></p>
                        </div>
                    </div>
                    <div>
                        <input class="boton " type="submit " name=" " value="Modificar " />
                        <input class="boton " type="submit " name=" " value="Eliminar " /> </div>

                </div>
                <div class="Editar ">

                    <div id="Precio ">
                        <form action="# " method="post ">
                            Cantidad
                            <select required>
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                    
                </select>
                        </form>
                    </div>

                </div>

                <div id="Precio ">
                    <p> PRECIO <b> $299.000</b></p>
                </div>
            </div>
            <div class="Producto-carrito ">
                <!--Esta imagen va a depender del producto escogido -->
                <div class="Descrip ">
                    <div class="imgcompra "> <img src="static/images/71InYs2Jm7L._AC_UY218_.jpg ">
                        <div>
                            <h2> Bicicleta Ruta </h2>
                            <br>
                            <p><b>Bicicleta Mountain Bike Rodado 29 Aluminio Shifter T18</b></p>
                        </div>
                    </div>
                    <div>
                        <input class="boton " type="submit " name=" " value="Modificar " />
                        <input class="boton " type="submit " name=" " value="Eliminar " /> </div>

                </div>
                <div class="Editar ">

                    <div id="Precio ">
                        <form action="# " method="post ">
                            Cantidad
                            <select required>
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                    
                </select>
                        </form>
                    </div>

                </div>

                <div id="Precio ">
                    <p> PRECIO <b>$67.705</b></p>
                </div>
            </div>





<<<<<<< HEAD
            <div class="Envio ">
                <div>
                    <h4><i class="fa fa-map-marker pad5 "></i> ENVÍO A DIRECCIÓN <output>$ 450</output>
                    </h4>
                </div>
                <br>
                <div>
                    <h3> TOTAL CON ENVÍO <output>$ 135.860</output></h3>
                </div>
                <br>
                <div class="decidir ">
                    <ul class="boton " type=" submit ">
                        <a inputmode="none " href="ll/index">Seguir Comprando</input>
=======

        <div class="Envio ">
            <div>
                <h4><i class="fa fa-map-marker pad5 "></i> ENVÍO A DIRECCIÓN <output>$ 450</output>
                </h4>
            </div>
            <br>
            <div>
                <h3> TOTAL CON ENVÍO <output>$ 135.860</output></h3>
            </div>
            <br>
            <div class="decidir ">
                <ul class="boton " type=" submit ">
                    <a inputmode="none " href="/">Seguir Comprando</input>
>>>>>>> 3dd59c077614bc4e03d86bb4603e4554721f1ed3
                </ul> 
                <ul class="boton " type=" submit ">
               <a inputmode="none " href=" # ">Finalizar Compra</input></ul>
            </div>
             </div>
            
             <div class="interesados ">
                <p><strong> PRODUCTOS QUE TE INTERESARON</strong></p>
            </div>

            <div class="flex-container ">
                <div class="flex-container div ">
                    <img src="static\images\bicicleta-mountain-bike-fuji-nevada-19-r29-21-vel-2021-bora.jpg " width=" 60% " , height="150px ">
                    <br>
                    <p>$67.705 <b>Biciplayer</b></p>
                </div>


                <div class="flex-container div ">
                    <img src="static/images/98067377-3885.png " width="20% " , height="80% ">
                    <br>
                    <p>$67.705 <b>Bicimad</b></p>
                </div>

                <div class="flex-container div ">
                    <img src=" static/images/plegable-768x576.jpg " width="20% " , height="80% ">
                    <br/>
                    <p>$21.015 <b>Bicicleta plegable</b> </p>

                </div>
                <div class="flex-container div ">
                    <img src=" static/images/ruta-768x576.jpg " width="20% " , height="80% ">
                    <br/>
                    <p>$23.000 <b>Bicicleta Ruta</b></p>

                </div>
            </div>
    </main>

<%-include('partials/footer')%>
</body>

</html>