<!DOCTYPE html>
<html lang="en">
<head>   
    <base href="/">
    <%-include('partials/head')%>
    <link href="/static/css/form_productos.css" rel="stylesheet">
</head> 
    <body>
        <%-include('partials/header')%>
    <main>
        <div class="tabs">
            <div class="tabs__content" data-tab="2">
                <form action="/product/search" method="GET"  class="create-form">
                <h2>Buscar Producto</h2>
                <input type="text" name="search" id="">
                <button type="submit">
                    buscar
                </button>
                </form>
            </div>
        </div>
    
            </main>
        <%-include('partials/footer')%>
</body>
</html>