<footer>
    <div class="contacto-1">
        <a><i class="fab fa-whatsapp"></i></a>
        <a><i class="fas fa-map-marked-alt"></i></a>
    </div>
    <div class="logo-mision">
        <a class="logo"><i class="fas fa-bicycle"></i>BikeXtrem</a>
        <p class="mision">"BikeXtrem es una empresa dedicada <br>a brindar todo lo necesario para que <br>nuestros clientes tengan la mejor <br>experiencia posible sobre sus bicicletas."<br></p></a>
    </div>
    <div class="contacto-2">
        <h3>Contacto</h3>
        <ul>
            
            <span><i class="fa fa-map-marker pad5"></i> Coronel Pringles 132, Barrio General Paz</span><br>
            <span>Córdoba,Argentina</span><br>
            <span>555-5555</span><br>
            <span>atencionalcliente@BikeXtrem.com</span><br>
            <span class="iconosredes">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
            </span>
        </ul>
    </div>
    <div class="servicio">
        <h3>Servicio al cliente</h3>
        <ul class="menu-footer-menu-1" >
            <li class="menu-item"><a href="#" style="text-decoration:none">Envíos</a></li>
            <li class="menu-item"><a href="#" style="text-decoration:none">¿Cómo comprar?</a></li>
            <li class="menu-item"><a href="#" style="text-decoration:none">Formas de pago</a></li>
            <li class="menu-item"><a href="#" style="text-decoration:none">Políticas de privacidad</a></li>
            <li class="menu-item"><a href="#" style="text-decoration:none">Políticas de compras</a></li>
            <li class="menu-item"><a href="#" style="text-decoration:none">Políticas de cambios y devoluciones</a></li>
            <li class="menu-item"><a href="#" style="text-decoration:none">Términos y condiciones</a></li>
            <li class="menu-item"><a href="#" style="text-decoration:none">Faqs</a></li>
        </ul>
    </div>
</footer>