<header>


    <div class="top-header">
        <div class="navegacion"> 
            <input type="search" name="Busquedaproductos" placeholder="¿Qué estás buscando?" >
            <input type="submit" value="Buscar" >
        </div>
        <div class="cuenta">
            <a>Hola!</a>
            <a href="/Login">Registrarme</a>
            <a href="/Login"><i class="fas fa-user"></i></a>
        </div>
    </div>

    <div class="mid-header">
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
            <a id="aside">BICICLETAS</a>
            <a id="aside">REPUESTOS</a>
            <a id="aside">INDUMENTARIA</a>
            <a id="aside">TALLER</a>
            <a id="aside">ACCESORIOS</a>
            <a id="aside">SERVICIOS</a>
        </div>
        <div class="contacto">
            <a><i class="fab fa-whatsapp"></i></a>
            <a><i class="fas fa-map-marked-alt"></i></a>
        </div>
        <div>          
            <a class="logo"><i class="fas fa-bicycle"></i>
                <a style="text-decoration:none" href="/" class="bikextrem">BikeXtrem</a>
            </a>
        </div>
        <div>
            <a href= "/ProductCart" class="carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    
    <div class="low-header">
        <a>BICICLETAS</a>
        <a>REPUESTOS</a>
        <a>INDUMENTARIA</a>
        <a>TALLER</a>
        <a>ACCESORIOS</a>
        <a>SERVICIOS</a>
    </div>
</header>