<header>
    <div class="top-header">
        <div class="navegacion">
            <input type="search" name="Busquedaproductos" placeholder="¿Qué estás buscando?">
            <input type="submit" value="Buscar">
        </div>
        <div class="cuenta">
            <a>Hola!</a>
            <a href="/login">Registrarme</a>
            <a href="/login"><i class="fas fa-user"></i></a>
        </div>
    </div>
    <div class="mid-header">
        <div class="contacto">
            <a><i class="fab fa-whatsapp"></i></a>
            <a><i class="fas fa-map-marked-alt"></i></a>
        </div>
        <div>
            <a class="logo"><i class="fas fa-bicycle"></i>
                <a href="/" class="bikextrem">BikeXtrem</a>
            </a>
        </div>
        <div>
            <a class="carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <div class="low-header">
        <a>BICICLETAS</a>
        <a>REPUESTOS</a>
        <a>INDUMENTARIA</a>
        <a>TALLER</a>
        <a>ACCESORIOS</a>
        <a>SERVICIOS</a>

    </div>

</header>