<header>
    <div class="top-header">
        <div class="tabs__content" data-tab="2">
            <form action="/product/search" method="GET" class="create-form">

                <input type="text" name="search" id="" placeholder="¿Que estas buscando?">
                <button type="submit">
                buscar
            </button>
            </form>
        </div>
        <div class="cuenta">
            <% if (locals.isLogged) { %>
                <a>Hola! <%= locals.userLogged.nombre %></a>
                <a class="dropdown-item" href="/users/logout">Logout</a>
                <a href="/users/profile">Perfil</a>
                <% } else { %>
                    <a href="/users/Login"><i class="fas fa-user"></i></a>
                    <a href="/users/registro">Registrarme</a>
                    <% } %>

        </div>
    </div>

    <div class="mid-header">
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
            <a id="aside">REPUESTOS</a>
            <a id="aside">INDUMENTARIA</a>
            <a id="aside">TALLER</a>
            <a id="aside">ACCESORIOS</a>
            <a id="aside">SERVICIOS</a>
            <a id="aside">BICICLETAS</a>
        </div>
        <div class="contacto">
            <a><i class="fab fa-whatsapp"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-facebook"></i></a>
            <a><i class="fas fa-map-marked-alt"></i></a>
        </div>
        <div>
            <a class="logo"><i class="fas fa-bicycle"></i>
                <a style="text-decoration:none" href="/" class="bikextrem">BikeXtrem</a>
            </a>
        </div>
        <div>
            <a href="/ProductCart" class="carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>

    <div class="low-header">
        <a>REPUESTOS</a>
        <a>INDUMENTARIA</a>
        <a>TALLER</a>
        <a>ACCESORIOS</a>
        <a>SERVICIOS</a>
        <a href="/product/listadoDeProductos">BICICLETAS</a>
    </div>
</header>