<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BikeXtrem Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/98d109f5a6.js" crossorigin="anonymous"></script>
    <link href="static/css/styles_index.css" rel="stylesheet">
</head>
<body>
    <header>
    <div class="top-header">
        <div class="navegacion"> 
            <input type="search" name="Busquedaproductos" placeholder="¿Qué estás buscando?" >
            <input type="submit" value="Buscar" >
        </div>
        <div class="cuenta">
            <a>Hola!</a>
            <a href="/Login">Registrarme</a>
            <a href="/Login"><i class="fas fa-user"></i></a>
        </div>
    </div>
    <div class="mid-header">
        <div class="contacto">
            <a><i class="fab fa-whatsapp"></i></a>
            <a><i class="fas fa-map-marked-alt"></i></a>
        </div>
        <div>
            <a class="logo"><i class="fas fa-bicycle"></i>
                <a>BikeXtrem</a>
            </a>
        </div >
        <div>
            <a href="/ProductCart" class="carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </div>
    <div class="low-header">
        <a>BICICLETAS</a>
        <a>REPUESTOS</a>
        <a>INDUMENTARIA</a>
        <a>TALLER</a>
        <a>ACCESORIOS</a>
        <a>SERVICIOS</a>

    </div>

    </header>

    <main>
    <div class="container-slider">
        <ul class="slider">
            <li id="slide1">
                <img src="static/images/imagen_cannondale.jpg"></li>
            <li id="slide2">
                <img src=static/images/imagen_cascos.jpg></li>
            <li id="slide3">
                <img src=static/images/imagen_cubierta.jpg></li>
        </ul>
        <ul class="menu">
            <li><a href="#slide1"></a></li>
            <li><a href="#slide2"></a></li>
            <li><a href="#slide3"></a></li>
        </ul>
        </div>
    <h3 class="titulo_ofertas">Ofertas Imperdibles!</h3>
    <article class="ofertas-carousel">
            <div class="producto-oferta">
                <a href="/ProductDetail"><img src=static/images/Raleigh_BinUrban1.1-NeVer_casa-bruzzoni-410x410.png></a>
                    <div class="detalle_oferta">
                        <a class="precio_antes">$350.000</a>
                        <a class="precio_oferta">$299.000</a>
                    </div>
                    <h3 class="nombre">Raleigh Urban</h3>           
            </div>
            <div class="producto-oferta">
                <a href="/ProductDetail_2"><img src=static/images/98067377-3885.png></a>
                    <div class="detalle_oferta">
                        <a class="precio_antes">$200.000</a>
                        <a class="precio_oferta">$167.000</a>
                    </div>
                    <h3 class="nombre">BMC Classic</h3>
            </div>
            <div class="producto-oferta">
                <a href="/ProductDetail_3"><img src=static/images/cannondale_mtb_roja.png></a>
                    <div class="detalle_oferta">
                        <a class="precio_antes">$170.000</a>
                        <a class="precio_oferta">$139.000</a>
                    </div>
                    <h3 class="nombre">Cannondale</h3>
            </div>
        </article>
    </main>

    <footer >
        <div class="logo_mision">
            <a class="logo"><i class="fas fa-bicycle"></i>BikeXtrem</a>
            <p class="mision">"BikeXtrem es una empresa dedicada a <br>brindar todo lo necesario <br>para que nuestros clientes <br>tengan la mejor experiencia <br> posible sobre sus bicicletas."<br></p></a>
        </div>
        <div>
            <h3>Contacto</h3>
            <ul class="contacto">
                <li><i class="fa fa-map-marker pad5"></i>Coronel Pringles 132, Barrio General Paz</li>
                <li>Córdoba,Argentina</li>
                <li>555-5555</li>
                <li>atencionalcliente@BikeXtrem.com</li>
                <li class="iconosredes">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                </li>
            </ul>
        </div>
        <div>
            <h3>Servicio al cliente</h3>
            <ul class="menu-footer-menu-1" >
                <li class="menu-item"><a href="#">Envíos</a></li>
                <li class="menu-item"><a href="#">¿Cómo comprar?</a></li>
                <li class="menu-item"><a href="#">Formas de pago</a></li>
                <li class="menu-item"><a href="#">Políticas de privacidad</a></li>
                <li class="menu-item"><a href="#">Políticas de compras</a></li>
                <li class="menu-item"><a href="#">Políticas de cambios y devoluciones</a></li>
                <li class="menu-item"><a href="#">Términos y condiciones</a></li>
                <li class="menu-item"><a href="#">Faqs</a></li>
            </ul>
        </div>
    </footer>  
</body>
</html>